* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: white;
}

.brand img {
    width: 45px;
    padding: 0 10px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.container {
    background-color: black;
    color: white;
    display: flex;
    margin: 25px auto;
    width: 65%;
    border-radius: 15px;
    padding: 35px;
    background-image: url("../static/background.jpg");
}

h1 {
    text-align: center;
}

.songItemContainer {
    margin-top: 50px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
}

.songItem img {
    width: 45px;
    margin: 0 25px;
    border-radius: 35px;
}

.timeStamp {
    margin: 0 25px;
}

.timeStamp i {
    cursor: pointer;
    margin-left: 10px;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 30px;
}

.icons i {
    cursor: pointer;
    margin: 0 30px;
}

#progressBar {
    width: 70%;
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 220px;
    margin-top: 30px;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
    width: 100px;
}